<p>products works!</p>
<div class="card">
  <div class="card-head">Lorem ipsum - products 1</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dignissimos doloribus, eaque eligendi est eveniet, hic ipsa itaque iusto nemo nesciunt nobis perspiciatis quas, quibusdam quisquam quos ratione suscipit vel?
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem ipsum - products 2</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dignissimos doloribus, eaque eligendi est eveniet, hic ipsa itaque iusto nemo nesciunt nobis perspiciatis quas, quibusdam quisquam quos ratione suscipit vel?
  </div>
</div>
